@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@layer base {
  :root {
    --background : #F8F8F8;
    --foreground : #110D0C;
    --title-color: #F04F18;
  }
  .dark {
    --background : #1C1C1D;
    --foreground : #ffffff;
  }
}

/* The @font-face rule allows custom fonts to be defined and used in the CSS */
@font-face {
  font-family: "Jakarta Sans";
    src: local("Plus Jakarta Sans"), url("./fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf") format("truetype"),
           local("Plus Jakarta Sans Italic"), url("./fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf") format("truetype");
}

/* apply current theme to the index page */
@layer base{
  body{
    @apply bg-background text-foreground;
    font-family: "Jakarta Sans", sans-serif;
    
  }
}